.deps/
Makefile
Makefile.in
aclocal.m4
arithparse.[ch]
*.o
autom4te.cache/
*~
arithscan.c
*.a
chpp
config.h
config.h.in
config.log
config.status
configure
doc/chpp.info
doc/stamp-vti
gc6.8/*.lo
gc6.8/.libs/
gc6.8/libgc.la
gc6.8/libtool
stamp-h1
