.deps/
Makefile
Makefile.in
aclocal.m4
arithparse.[ch]
*.o
autom4te.cache/
*~
arithscan.c
*.a
chpp
config.h
config.h.in
config.log
config.status
configure
doc/chpp.info
doc/stamp-vti
gc-7.2alpha6/*.lo
gc-7.2alpha6/.libs/
gc-7.2alpha6/libgc.la
gc-7.2alpha6/libtool
gc-7.2alpha6/bdw-gc.pc
gc-7.2alpha6/libcord.la
stamp-h1
compile
